$box-size: 200px;
$box-radius: 20px;

//Theme 1
// $primary-color: rgb(255, 148, 77);
// $light-primary: rgb(255, 220, 220);
// $off-white-primary: rgb(255, 230, 230);
// $light-secondary-color: rgba(215, 215, 255, 0.65);
// $lower-box-text: rgba(255, 148, 77, 0.7);

// Theme 2
// $primary-color: rgb(170, 65, 57);
// $light-primary: rgb(212, 144, 106);
// $off-white-primary: rgb(255, 176, 170);
// $light-secondary-color: rgba(66, 122, 130, 0.65);
// $lower-box-text: $primary-color;

//Theme 3
// $primary-color: rgb(39, 85, 108);
// $light-primary: rgb(110, 146, 161);
// $off-white-primary: rgb(160, 206, 221);
// $light-secondary-color: rgba(127, 130, 178, 0.85);
// $lower-box-text: $primary-color;

//Theme 4
// $primary-color: rgb(58, 72, 204);
// $primary-transparent: rgba(58, 72, 204, 0);
// $light-primary: rgb(130, 139, 228);
// $off-white-primary: rgb(160, 169, 255);
// $light-secondary-color: rgba(139, 83, 213, 0.45);
// $secondary-color: rgb(115, 50, 202);
// $secondary-transparent: rgba(115, 50, 202, 0);
// $off-white-secondary: rgb(218, 174, 255);
// $lower-box-text: $primary-color;
// $tertiary-color: rgb(39, 159, 193);
// $tertiary-transparent: rgba(39, 159, 193, 0);
// $light-tertiary: rgb(116, 199, 222);
// $off-white-tertiary: rgb(176, 255, 255);

//Theme 5
// $tertiary-color: rgb(58, 72, 204);
// $light-tertiary: rgb(130, 139, 228);
// $off-white-tertiary: rgb(160, 169, 255);
// $light-secondary-color: rgba(139, 83, 213, 0.45);
// $secondary-color: rgb(115, 50, 202);
// $off-white-secondary: rgb(218, 174, 255);
// $primary-color: rgb(39, 159, 193);
// $light-primary: rgb(116, 199, 222);
// $off-white-primary: rgb(176, 255, 255);
// $lower-box-text: $primary-color;

//Theme 6
$primary-color: rgb(58, 72, 204);
$primary-transparent: rgba(58, 72, 204, 0);
$primary-half-transparent: rgba(58, 72, 204, 0.5);
$light-primary: rgb(130, 139, 228);
$off-white-primary: rgb(160, 169, 255);
$light-secondary-color: rgb(170, 124, 227);
$light-secondary-tint: rgba(170, 124, 227, 0.45);
$secondary-color: rgb(94, 15, 193);
$secondary-transparent: rgba(94, 15, 193, 0);
$off-white-secondary: rgb(230, 184, 255);
$lower-box-text: $primary-color;
$tertiary-color: rgb(39, 159, 193);
$tertiary-transparent: rgba(39, 159, 193, 0);
$light-tertiary: rgb(116, 199, 222);
$off-white-tertiary: rgb(176, 255, 255);


body, .content {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body a {
  text-decoration: none;
  color: inherit;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background:
    linear-gradient(
      $light-secondary-tint,
      $light-secondary-tint
    ),
    url('/img/city-scape.jpg');
  background-size: cover;
}

.middle-box {
  background-image: linear-gradient( 180deg, $primary-color, $primary-color 50%, white 50%, white);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.light-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 300px;
  max-width: 50%;
}

.upper-box {
  border-radius: $box-radius $box-radius 0px 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: linear-gradient(180deg, $light-secondary-tint 1%, $primary-color), $primary-color;;
  color: $light-primary;
  height: $box-size;
}

.lower-box {
  background-color: white;
  border-radius: 0px 0px $box-radius $box-radius;
  padding: 20px;
  height: ($box-size / 2);
  color: $primary-color;
}

input.bubble-text, .bubble-text {
  border-radius: 20px;
  font-size: 1.5rem;
  text-align: center;
  border: 0;
  box-shadow: 0px 0px 30px 1px $primary-color;
  padding-top: 10px;
  padding-bottom: 10px;
  color: $primary-color;
  min-width: 50%;
  background-color: white;
  transition: all 0.1s ease-in-out;
}

input.bubble-text:focus {
  outline-style: none;
}

.title {
  font-weight: bold;
  color: $off-white-primary;
}

.description-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  cursor: pointer;
}

.description-list > * + * {
  border-left: 1px solid $light-primary;
  margin-left: 10px;
  padding-left: 10px;
}

.description-list a {
  text-decoration: none;
  color: inherit;
}

.description-list a:active {
  color: $off-white-primary;
}

.logo {
  font-size: 5rem;
  color: $off-white-primary;
}


.meeting-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.meeting-list > * + * {
  padding-left: 5px;
  margin-left: 5px;
}

.meeting-summary {
  display: flex;
  flex-direction: row;
}

.meeting-summary, .meeting-summary a {
  color: $lower-box-text;
  text-decoration: none;
  font-variant: small-caps;
  text-transform: capitalize;
}

.meeting-summary a:hover {
  color: $primary-color;
}

.meeting-summary > * {
  flex: 1 0 50px;
}

.meeting-headings {
  align-self: center;
}

.submit, .phase, .merge {
  display: flex;
  flex-direction: column;
  flex: 5;
  border-radius: $box-radius;
  box-shadow: 5px 3px 20px -2px $primary-color;
}

.submit-title {
  background-color: $primary-color;
  color: $off-white-primary;
  border-radius: $box-radius $box-radius 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.submit-topic {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: linear-gradient( 180deg, $primary-color, $primary-color 50%, white 50%, white);
}

.meeting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  padding: 20px;
}

.meeting > * + * {
  margin-left: 30px;
}

.phase-controls {
  flex: 0.5 1 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.vote-title, .discuss-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.vote-title > h2, .discuss-title > h2 {
  margin-bottom: 0;
}

.discuss-help {
  margin-bottom: 0;
  color: $off-white-primary
}

.discuss-middle {
  display: flex;
  flex-direction: column;
}

.discuss .topic {
  transition: all 0.1s ease-in-out;
}

.just-kidding {
  display: flex;
  flex-direction: column;
}

.oops {
  color: $tertiary-color;
  font-size: 1.3rem;
}

.oops:hover {
  color: $light-tertiary;
}

.oops > * + * {
  margin-left: 5px;
}

.next {
  color: $tertiary-color;
  font-size: 2rem;
}

.phase-controls > * + * {
  margin-top: 15px;
}

.phase-current {
  text-transform: capitalize;
}

.side-bar {
  flex: 0 1 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.side-bar > * + * {
  margin-top: 15px;
}

.user.participant {
  display: flex;
  flex-direction: column;;
  color: $secondary-color;
}

.user.participant > div:first-child {
  color: $light-secondary-color;
  font-variant: small-caps;
  font-weight: bold;
  text-align: center;
}

.return {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: $box-radius;
  background-color: $secondary-color;
  color: $off-white-secondary;
  padding: 10px 0 10px 0;
}

.side-header {
  background-color: $secondary-color;
  color: $off-white-secondary;
  border-radius: $box-radius $box-radius 0 0;
  width: 100%;
  text-align: center;
  padding: 10px 0 10px 0;
}

.topic {
  display: flex;
  flex-direction: row;
  flex: 0 1 50px;
  align-items: center;
  color: $primary-color;
  justify-content: space-around;
}

.topic-title {
  font-weight: bold;
  font-size: 1.3rem;
}

.topic-total-votes {
  color: $light-primary;
  font-weight: bold;
  font-size: 3rem;
  flex: 1;
  max-width: 10%;
}

.topic-votes {
  display: flex;
  flex-direction: row;
  color: $tertiary-color;
  justify-content: space-around;
  max-width: 30%;
}

.vote-icon {
  font-size: 2.5rem;
}

.vote-icon:hover {
  color: $light-tertiary;
}

.by-line {
  color: $light-primary;
  font-size: 0.8rem;
}

.topic-body {
  flex: 1 1 50px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.topic-actions {
  flex: 1;
  text-align: right;
  padding-right: 30px;
}

.topic-list > * {
  padding: 15px;
}

.topic-list > * + * {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-image: linear-gradient(to right, white 0%, $off-white-primary 20%, $off-white-primary 80%, white 100%);
  border-image-slice: 1;
}

.topic-list > *:last-child {
  border-radius: 0 0 $box-radius $box-radius;
}

.actions {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.action > * {
  flex: 0 0 30px;
}

.current {
  background-image: linear-gradient(90deg, $primary-transparent 0%, $primary-half-transparent 97%, $primary-transparent 100%);
  transition: all 0.1s ease-in;
}

.current-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.current-actions {
  color: $tertiary-color;
}

.how, .when {
  display: flex;
  flex-direction: column;
  margin-top: -25px;
  padding: 0 10px 10px 10px;
}

.main-subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1rem;
  font-weight: bold;
}

.main-subtitle > * {
  margin: 0;
  padding: 0 0 15px 0;
}

.how-steps {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 100px;
  justify-content: space-around;
}

.how-step {
  padding-bottom: 5px;
}

.when-copy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.when-copy > * {
  flex: 1;
}

input.toggle {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}

input.toggle + label {
 display: block;
 position: relative;
 box-shadow: inset 0 0 0px 1px #d5d5d5;
 text-indent: -5000px;
 height: 30px;
 width: 50px;
 border-radius: 15px;
 cursor: pointer;
}

input.toggle + label:before {
 content: "";
 position: absolute;
 display: block;
 height: 30px;
 width: 30px;
 top: 0;
 left: 0;
 border-radius: 15px;
 background: $tertiary-transparent;
 -moz-transition: .25s ease-in-out;
 -webkit-transition: .25s ease-in-out;
 transition: .25s ease-in-out;
}

input.toggle + label:after {
 content: "";
 position: absolute;
 display: block;
 height: 30px;
 width: 30px;
 top: 0;
 left: 0px;
 border-radius: 15px;
 background: white;
 box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
 -moz-transition: .25s ease-in-out;
 -webkit-transition: .25s ease-in-out;
 transition: .25s ease-in-out;
}

input.toggle:checked + label:before {
  width: 50px;
  background: $tertiary-color
}

input.toggle:checked + label:after {
  left: 20px;
  box-shadow: inset 0 0 0 1px $tertiary-color, 0 2px 4px rgba(0, 0, 0, .2);
}

.delete {
  color: $tertiary-color;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 10px;
}

.delete:hover {
  color: $light-tertiary;
}

.toggle-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: hidden;
}

.bright-box {
  display: flex;
  flex-direction: column;
  border-radius: $box-radius;
}

.bright-box-title {
  border-radius: $box-radius $box-radius 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0 10px 0;
}

.bright-box-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.bright-box-content > * {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 10px;
}

.bright-box-content > * + * {
  padding-top: 10px;
  border-width: 1px 0 0 0;
  border-style: solid;
}

.bright-box.primary {
  box-shadow: 5px 3px 20px -2px $primary-color;
  color: $primary-color;
}

.bright-box-title.primary {
  background-color: $primary-color;
  color: $off-white-primary;
}

.bright-box-content.primary > * + * {
  border-image: linear-gradient(to right, white 0%, $off-white-primary 20%, $off-white-primary 80%, white 100%);
  border-image-slice: 1;
}

.bright-box.secondary {
  box-shadow: 5px 3px 20px -2px $secondary-color;
  color: $secondary-color;
}

.bright-box-title.secondary {
  background-color: $secondary-color;
  color: $off-white-secondary;
}

.bright-box-content.secondary > * + * {
  border-image: linear-gradient(to right, white 0%, $off-white-secondary 20%, $off-white-secondary 80%, white 100%);
  border-image-slice: 1;
}

.bright-box.tertiary {
  box-shadow: 5px 3px 20px -2px $tertiary-color;
  color: $tertiary-color;
}

.bright-box-title.tertiary {
  background-color: $tertiary-color;
  color: $off-white-tertiary;
}

.bright-box-content.tertiary > * + * {
  border-image: linear-gradient(to right, white 0%, $off-white-tertiary 20%, $off-white-tertiary 80%, white 100%);
  border-image-slice: 1;
}

.bright-box-bubble {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bright-box-bubble.primary {
  background-image: linear-gradient( 180deg, $primary-color, $primary-color 50%, white 50%, white);
}
